
.feedContainer {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 5rem 0;
      height: auto;
      flex-wrap: wrap;
      gap: 8rem;
}

.imgCon {
      position: relative;
      width: 40rem;
      height: 30rem;

}

.imgCon img {
      position: absolute;
      width: 100%;
      height: 100%;
      border-radius: .5rem;
}

.feeds {
      width: 32rem;
}

.feeds h2 {
      font-size: 3.5rem;
      margin-bottom: 1.5rem;
}

.feeds p {
      font-size: 1.7rem;
}

.home {
      color: green;
      border-bottom: .1px solid black;
}